@CHARSET "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-size: 30.5px;
	font-weight: 300;
	color: #eee;
	margin-top:40px;
	
}
.fondo {
	position: relative;
	height: 100%;
	background-image:
		url("http://40.media.tumblr.com/068b944d01bf888a1c0ea8235f626d7f/tumblr_nb2j1zggdO1sifu07o3_1280.jpg");
	background-size: cover;
	overflow: auto;

}
*,*:before,*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
hr{
	 display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start:5rem;
    -webkit-margin-end: 5rem;
    border-style: inset;
    border-width: 1px;
}
.contenedor_inicio {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -44rem;
	margin-top: -15em;
	width: 90rem;
	height: 115rem;
	overflow: hidden;
	font-size:20px;
	background: linear-gradient(to bottom, rgba(135, 186, 187, 0.8) 0%,
	 rgba(0, 0, 0, 0.77) 100%);
}

ul {
	width:100%;
	background: hsla(0, 0%, 0%, 0.53);
	font-weight: bolder;
	font-size: 15px;
	margin-left: -1rem;
	margin-top: -0.5rem;
}

ul {
	margin: 0;
	padding: 0;
}

ul li a,label[for=toggle] {
	display: inline-block;
	cursor: pointer;
	color: hsl(0, 100%, 98%);
	padding: 13px 10px 13px 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 27rem;
}

ul li a:last-child {
	padding: 13px 25px 13px 25px;
}

ul li a:hover,label[for=toggle]:hover {
	color: hsl(164, 80%, 42%);
	text-shadow: 0 0 1px #fff;
}

ul {
	float: left;
	list-style-type: none;
	padding: 0;
}

li {
	float: left; 
}

li a {
	padding: 10px;
	text-decoration: none;
}



td[type=text] {
	font-size: 15.5px;
	font-weight: 300;
	color: #eee;
	position: absolute;
	background: transparent;
	color: #FDFCFD;
}


td input[type=text] {
	margin-left: 48rem;
	border: none;
	width: 30%;
	padding: 10px 20px;
	display: block;
	height: 15px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.28);
	border: 2px solid rgba(255, 255, 255, 0);
	overflow: hidden;
	transition: all 0.5s ease-in-out;

}

td input[type=text]:focus{
	outline: 0;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0);
}

input[type=submit] {
	position: relative;
	width: 18%;
	height: 3rem;:-2rem02.2rem;
	color: rgba(255, 255, 255, 0.8);
	background: rgb(22, 193, 147);
	font-size: 1.8rem;
	border-radius: 3rem;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
	transition: width 0.3s 0.15s, font-size 0.1s 0.15s
	outline: none;
	border: none;
	outline: none;
}

.ciudad_salida, .dir_salida, .provincia_salida, .pais_salida,
.cod_salida, .ciudad_llegada, .dir_llegada, .provincia_llegada,
.pais_llegada, .cod_llegada, .fecha_salida, .fecha_llegada,
.fecha_limite, .plazas_totales, .plazas_libres, .coste, .comentarios,
.lat_salida, .lat_llegada, .long_salida, .long_llegada{
	margin-top: 1rem;
	margin-left: 22rem;
	font-size: 15.5px;
	font-weight: 300;
	color: #eee;
	position: absolute;
}

 .formato_fechas{
	margin-top: -3rem;
	margin-left: 30rem;
	font-size: 15.5px;
	font-weight: 300;
	color: #eee;
	position: absolute;
}

td input[name=ciudadSalida],td input[name=direccionSalida],
td input[name=provinciaSalida],td input[name=CPSalida],
td input[name=paisSalida],td input[name=latSalida],
td input[name=lonSalida],td input[name=ciudadLlegada],
td input[name=direccionLlegada],td input[name=provinciaLlegada],
td input[name=CPLlegada],td input[name=paisLlegada],
td input[name=latLlegada], td input[name=lonLlegada],
td input[name=fechaSalida], td input[name=fechaLlegada],
td input[name=fechaLimite], td input[name=plazasTotal],
td input[name=plazasLibres], td input[name=coste],
td input[name=comentarios]{
	margin-top:1rem;
	color: #eee;
	font-size:16px;

}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

input[name=volver_atras] {
	color: #fff;
	font-size: 70px;
	background: transparent;
	margin-left: 5rem;
	cursor: pointer;
	border: none;
	outline: none;
}